#features {
  background: $light-bg;
  padding: $xxl $lg;

  h2,
  p {
    display: flex;
    justify-content: center;
  }

  > div {
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: $lg;
  }

  article {
    background: $white;
    padding: $lg;
    border-radius: 12px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-6px);
    }
  }
}
