@use '../../styles/variables' as v;

.input-form {
  display: flex;
  gap: v.$spacing;
  margin-bottom: v.$spacing;
}

.title-field input,
.author-field input {
  padding: 8px;
  border-radius: v.$radius;
  border: 1px solid v.$blue-border;
}