.navigation-section {
  padding: 25px 20px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  border-right: 1px solid $border-dark;

  .logo-img {
    width: 40px;
    margin-bottom: 35px;
  }

  nav {
    flex: 1;

    ul {
      list-style: none;

      li {
        margin: 18px 0;

        a {
          @include flex-center(14px);

          font-size: 19px;
          color: $text-white;
          text-decoration: none;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }

  .nav-icon {
    width: 24px;
    height: 24px;
  }

  .post-button {
    width: 90%;
    margin: 25px auto;
    padding: 14px;

    border-radius: $radius-lg;
    border: none;

    background: $blue;
    color: white;

    font-size: 16px;
    cursor: pointer;
    display: block;
  }

  .profile-section {
    margin-top: auto;
    padding-top: 30px;

    display: flex;
    align-items: center;
    gap: 12px;

    border-top: 1px solid $border-dark;

    .profile-photo img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}
