/* src/styles/_variables.scss */

$bg-main: #ffffff;
$bg-soft: #eef5ff;

$blue-soft: #e9f1ff;
$blue-accent: #2563eb;

$red-active: #ef4444;

$text-main: #0f172a;
$text-muted: #64748b;

$radius-lg: 20px;
$radius-md: 14px;
$radius-sm: 10px;

$shadow-soft: 0 10px 30px rgba(15, 23, 42, 0.06);
$shadow-hover: 0 18px 50px rgba(37, 99, 235, 0.18);

$transition: all 0.25s ease;


$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;

