@use "../../styles/variables" as v;

.navigationBar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  background: v.$surface;
  border-bottom: 1px solid v.$border;
}

.brand {
  font-size: 1.4rem;
  font-weight: 700;
  color: v.$blue-navy;
}

.links {
  display: flex;
  gap: 2rem;
}

.link {
  position: relative;
  font-weight: 500;
  color: v.$text-muted;
  transition: v.$transition;

  &:hover {
    color: v.$blue-ocean;
  }
}

.active {
  color: v.$blue-ocean;
  font-weight: 600;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: v.$blue-ocean;
    border-radius: 2px;
  }
}
