@use "../../styles/variables" as *;

.layoutWrapper {
  background: #f7fafd;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 24px;
}

@media (max-width: $mobile) {
  .main {
    padding: 32px 16px;
  }
}