// Abstracts
@import "abstracts/variables";

// Base
@import "base/reset";
@import "base/global";
@import "base/typography";

// Layout
@import "layout/header";
@import "layout/nav";
@import "layout/footer";

// Sections
@import "sections/hero";
@import "sections/features";
@import "sections/courses";
@import "sections/contact";

// Responsive
@import "responsive/media";
