.bar-graph {
    height: 500px;
    border: 1px solid $border-color;
    position: relative;

    background-image: repeating-linear-gradient(to right,
        rgba(0, 0, 0, 0.2) 0px,
        rgba(0, 0, 0, 0.2) 1px,
        transparent 1px, transparent 100px),
    repeating-linear-gradient(to bottom,
        rgba(0, 0, 0, 0.2) 0px,
        rgba(0, 0, 0, 0.2) 1px,
        transparent 1px, transparent 125px);
    opacity: 0.5;
}

canvas {
    width: 100%;
    height: 100%;
}
