@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }

  main > section:first-of-type {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #contact > div {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  nav {
    flex-direction: column;

    ul {
      flex-direction: column;
    }
  }

  #courses > div {
    flex-direction: column;
  }

  footer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 13px;
  }

  main > section:first-of-type a {
    width: 100%;
    margin-bottom: $xs;
  }
}
