####################################
# Java / Spring Boot
####################################
*.class
*.log

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle (if ever used)
.gradle/
build/

####################################
# Package Files
####################################
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

####################################
# IDEs
####################################
.idea/
*.iml
.vscode/

####################################
# OS (macOS)
####################################
.DS_Store
.AppleDouble
.LSOverride

####################################
# JVM crash logs
####################################
hs_err_pid*
replay_pid*

####################################
# BlueJ / J2ME
####################################
*.ctxt
.mtj.tmp/

####################################
# Logs & Temp
####################################
logs/
*.tmp
*.swp

####################################
# Spring Boot
####################################
application-local.yml
application-local.properties

####################################
# Test / Coverage
####################################
coverage/
