@use "./variables" as v;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: v.$bg-main;
  color: v.$text-main;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}
